/results
sense-app/
.sense_app/
.ipynb_checkpoints/
Medline/
L-OVE/
Cochrane/
EMBASE/
OVID/
results/
.vscode/
:project.sqlite
/OVID
/Cochrane
/Medline
/"L-OVE"
Data/
.sense/
.DS_Store
# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask specific
instance/
.pytest_cache/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# Environment
.env

MedlineData/
OVIDNew/
output/


enriched_output.csv
# *.txt
!history.txt
*.html
testing_data.csv
test.csv

test_data.json
error_log.csv

# for models
models
models3
models4
models7

HPV_training_set_HHL_AP_complete.csv
Influenza-in-the-ED.pdf
NotFound-on-Medline-using-our-Query.csv
chrome_profile/
influenza_sections.json
influenza_sections.md
prisma_counts.json
test2_complete.csv
testing_country.csv
trainings/
.venv
*/DS_Store


data.json
e019206.full.pdf
extraction_results.csv
loke-et-al-2017-the-uptake-of-human-papillomavirus-vaccination-and-its-associated-factors-among-adolescents-a.pdf
model.ipynb
nihms-1635551.pdf
systematic_review_templates.csv
systematic_review_vocab.csv
pico_ner_model_results/

checkpoints/
comparison_outputs/
fuzzy_matches.csv
model1.ipynb
models2.ipynb
output.png
output2.png
outputs/
sr_auto_train.jsonl
sr_auto_train_allenai.jsonl
sr_eval.json
sr_models/
sr_retrieval.jsonl
.venv_/
.python-version
dataset_scaffold/
error.log
requirements3eee.txt